# Framework FastAPI
fastapi==0.103.1
uvicorn==0.25.0

# Gửi email qua SMTP
aiosmtplib==1.1.7

# Lấy email qua giao thức IMAP
IMAPClient==2.3.1

# Đọc biến môi trường từ file .env
python-dotenv==1.0.0

# Kiểm tra tính hợp lệ của email
email-validator==2.0.0

# MongoDB
pymongo==4.12.1
bcrypt==4.3.0

# Xác thực và mã hóa
python-jose==3.4.0
passlib==1.7.4

# HTTP client
httpx==0.28.1

# Xử lý dữ liệu
pandas==1.4.2
numpy==1.24.4

# Google API
google-api-python-client==2.66.0
google-auth==2.39.0
google-auth-oauthlib==1.2.2

# OpenAI API
openai==0.28.0

# Xử lý PDF và OCR
pdf2image==1.17.0
pytesseract==0.3.13
pillow==9.5.0
